@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

@charset "utf-8";

html, body {
  font-size: 16px;
}
body {
	background-color: $color-bg-body;
	color: $color-text;
	font-family: "Open Sans", helvetica, arial, sans-serif;
}
* {
	box-sizing: border-box;
}
li {
  line-height: 2.5em;
}
a {
  color: $color-link;
  &:hover {
    color: darken($color-link, 15%);
  }
}
.clean-ul {
  list-style: none;
  padding: 0;
}
.content {
  @extend .row;
}

/* Header */

.header {
	padding: 0.25em 0;
  background: $color-white-smoke;
  border-bottom: 1px solid $color-border-light;
  margin-bottom: 1em;
}
.header-text {
	margin: 0;
  font-size: 1em;
  display: inline-block;
}
.header-logo {
	text-indent: -9999px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../images/cycle-dash.png');
  background-size: 22px;
  margin-right: 1em;
}

/* Left-side navigation */

.navigation {
  @extend .col-md-2;
}
.component {
  margin-top: 2em;
}

/* Styleguide content */

.styles {
  @extend .col-md-10;
}
section {
  @extend .card;
  margin-bottom: 1em;
  padding: 1em;
  h2 {
    font-weight: bold;
    margin-top: 0;
  }
}

.details {
  font-size: 0.875em;
}

/* Buttons */

.buttons {
  button {
    margin-right: 1em;
  }
}
.btn-primary {
  color: $color-white;
  background-color: $color-blue-sinai;
  border-color: darken($color-blue-sinai, 10%);
  &:hover, &:active, &:focus {
    background-color: darken($color-blue-sinai, 5%);
    border-color: darken($color-blue-sinai, 10%);
    color: $color-white;
  }
}

/* Cards */

.card {
  background-color: $color-white-smoke;
  border-radius: $radius;
  box-shadow: 1px 1px 1px 0px $color-bg-body-dark;
  border: 1px solid $color-border-light;
}
.card-body, .card-header {
  padding: 1rem;
}
.card-header {
  border-bottom: 1px solid $color-border-light;
  h3 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}
.card-body {
  p {
    margin: 0;
  }
}

/* Colors */

.swatch {
  @extend .card;
  padding: 0;
  overflow: hidden;
}
.swatch-preview {
  height: 3.75em;
  border-bottom: 1px solid $color-border-light;
}
.swatch-details {
  @extend .clean-ul;
  padding: 0.5em 1em;
}
.color-black {
  background-color: $color-black;
}
.color-blue-sinai {
  background-color: $color-blue-sinai;
}
.color-gray-light {
  background-color: $color-gray-light;
}
.color-gray-medium {
  background-color: $color-gray-medium;
}
.color-beige-light {
  background-color: $color-beige-light;
}
.color-green {
  background-color: $color-green;
}
.color-red {
  background-color: $color-red;
}
.color-white {
  background-color: $color-white;
}
.color-white-smoke {
  background-color: $color-white-smoke;
}

/* Commments */
.author-name {
  font-weight: bold;
  float: left;
}
.comments .comment-text {
  padding: 0.5em 0;
  p {
    margin: 0;
  }
}
.comments .time {
  font-size: 0.875em;
  color: $color-text-dim;
}
.comment-view-container {
  border-top: 1px solid $color-border-light;
  border-left: 1px solid $color-border-light;
  border-right: 1px solid $color-border-light;
  padding: 1em;
  background-color: $color-white-smoke;
}
.comments:last-of-type {
  .comment-view-container {
    border-bottom: 1px solid $color-border-light;
  }
}
.comment-header {
  @extend .clearfix;
}
.edit-buttons {
  float: right;
}
.comment-delete, .comment-edit {
  color: $color-text;
  font-size: 0.75rem;
  &:before {
    @extend .glyphicon;
  }
  &:hover {
    color: $color-text;
  }
}
.comment-delete {
  @extend .glyphicon-trash;
  margin-left: 0.75em;
}
.comment-edit {
  @extend .glyphicon-pencil;
}

/* Form Inputs */

.control-label {
  font-weight: normal;
}
.form-group.required .control-label:after {
  content:"*";
  color: $color-red;
}
.form-inputs .form-group {
  margin-bottom: 0;
}

/* Modals */

.add-form {
  @extend .col-md-12;
  background: $color-bg-body-dark;
  border: 1px solid $color-border-light;
  border-radius: $radius;
  margin: 1em 0;
  h3 {
    @extend .col-md-12;
    margin: 15px 0;
  }
}
.add-form-input-half {
  @extend .col-md-6;
}
.add-form-input-full {
  @extend .col-md-12;
}
.form-control.add-form-notes {
  height: 8em;
}
.close {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  z-index: 1;
}
.add-form-submit {
  @extend .btn, .btn-primary;
  float: right;
}

/* Tables */

.table {
  font-size: 0.875em; /* 14/16 */
  color: $color-text;
  border-collapse: separate;
  background-color: $color-white;
  border-bottom: 1px solid $color-border-light;
  td {
    word-wrap: break-word;
    &:first-child {
      border-left: 1px solid $color-border-light;
    }
    &:last-child {
      border-right: 1px solid $color-border-light;
    }
  }
  thead {
    font-size:0.75rem;
    text-transform: uppercase;
    tr {
      th {
        background-color: $color-bg-body;
        font-weight: normal;
        letter-spacing: 1px;
        border-bottom: 0;

        &:first-child {
          border-top-left-radius: $radius;
        }
        &:last-child {
          border-top-right-radius: $radius;
        }
      }
    }
  }
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr.selected {
  background: $color-bg-hover;
}
.table tbody tr:hover {
  background: $color-bg-hover;
}

/* Project Table */
.runs-table {
  @extend .table;
  table-layout: fixed;
  margin: 0;
}
main#runs .runs-table tr.info > td {
  background-color: $color-bg-expanded;
}
input.selector {
  margin-right: 13px;
}
td .label {
  margin: 0 3px 0 3px;
}
.runs-table .labels .fail, .runs-table .labels .run {
  font-size: 0.875em;
}
.runs-table .labels .fail {
  @extend .glyphicon-remove;
}
.runs-table .labels .fail::before{
  @extend .glyphicon;
  color: $color-status-error;
  padding-right: 0.25em;
  font-size: 10px;
}
.runs-table .labels .fail::after {
  color: $color-status-error;
  content: 'Failed';
}
.runs-table .labels .run::after {
  color: $color-blue-sinai;
  content: 'Uploading...';
}
span.comment-bubble {
  @extend .glyphicon, .glyphicon-comment;
  margin-left: 0.5em;
  font-size: 0.625rem;
}
td.comments {
  text-align: right;
  white-space: nowrap;
}
.runs-table .run-id, .runs-table .date {
  white-space: nowrap;
}
.runs-table .run-id {
  text-align: right;
}
.runs-table .caller-name {
  width: 27%;
}
.runs-table .date {
  width: 13%;
}
.runs-table .num-variants {
  width: 13%;
}
.runs-table .linked-bams {
  width: 20%;
}
.runs-table .task-labels {
  width: 10%;
}
.runs-table .num-comments {
  width: 7%;
}
.runs-table .examine-col {
  width: 10%;
}
.linked-bam {
  display: block;
}

/* VCF Table*/
.examine-table-container {
  overflow: auto;
}
.vcf-table {
  @extend .table, .table-striped;
  margin-bottom: 0;
}
.vcf-table thead {
  background-color: $color-bg-body;
  tr {
    th {
      cursor: default;
      &:first-child {
        border-top-left-radius: 0;
      }
      &:last-child {
        border-top-right-radius: 0;
      }
    }
    &:first-child {
      th {
        font-weight: bold;
        border-left: 2px solid $color-border-light;
        border-bottom: 2px solid $color-border-light;
        background-color: $color-bg-body-dark;
      }
    }
  }
}
.vcf-table th {
  position: relative;
  white-space: nowrap;
}
.vcf-table.table>tbody>tr>td {
  border-top: none;
}
.vcf-table th.arrow,
.vcf-table td.arrow {
  text-align: center;
}
.vcf-table th.ref,
.vcf-table td.ref {
  padding-right: 0;
  text-align: right;
}
.vcf-table th.alt,
.vcf-table td.alt {
  padding-left: 0;
  text-align: left;
}

/* Tooltip */
.vcf-table .tooltip {
  display: none;
  word-wrap: break-word;
  white-space: normal;
  border-radius: $radius;
  position: absolute;
  top: 110%;
  right: 0;
  background: $color-white;
  background-color: $color-bg-hover;
  border: 1px solid $color-border-light;
  min-width: 200px;
  font-size: 0.75rem;
  color: $color-text;
  z-index: 1000;
  opacity: 100; /* This is needed to override Bootstrap. */
  text-transform: none;
  padding: 0 1em;
}
.vcf-table .tooltip p {
  text-align: left;
  margin-top: 1em; /* This is needed to override Bootstrap. */
  margin-bottom: 1em; /* This is needed to override Bootstrap. */
}
.vcf-table .tooltip p strong {
  font-weight: bold;
}
.vcf-table th span:hover + .tooltip {
  display: block;
}
.vcf-table .tooltip:after, .tooltip:before {
  bottom: 100%;
  right: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vcf-table .tooltip:after {
  border-color: rgba(231, 246, 252, 0);
  border-bottom-color: $color-bg-hover;
  border-width: 10px;
  margin-right: -10px;
}
.vcf-table .tooltip:before {
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: $color-border-light;
  border-width: 11px;
  margin-right: -11px;
}
.vcf-table .variant-info {
  border-top: 1px solid $color-border-light;
  border-bottom: 1px solid $color-border-light;
  padding: 1em;
  background: $color-bg-expanded;
  text-align: left;
}

/* Stars */
.vcf-table td span.starred {
    @extend .glyphicon;
    @extend .glyphicon-star;
    color: #F3CE43;
}
.vcf-table td.is-starred span.not-starred {
    @extend .glyphicon;
    @extend .glyphicon-star-empty;
    color: #F3CE43;
    cursor: pointer;
    opacity: 0;
}
.vcf-table tr:hover span.not-starred {
    opacity: 0.8;
}

/* VCF Table headers */
.vcf-table th .sort {
  cursor: pointer;
  color: $color-text;
  &:hover {
    text-decoration: none;
  }
}
.vcf-table th .sort:before {
  content: ' ↕';
}
.vcf-table th .sorting-by.asc:before {
  content: ' ↑';
}
.vcf-table th .sorting-by.desc:before {
  content: ' ↓';
}
.vcf-table td.pos {
  font-family: "inconsolata", monospace;
}
.vcf-table span.comment-bubble {
  @extend .glyphicon, .glyphicon-comment;
  margin-right: 0.5em;
  font-size: 0.625rem;
}
.vcf-table td {
  white-space: nowrap;
  max-width: 95px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/* Typography */

.text-dim {
  color: $color-text-dim;
}
.typography {
  .clean-ul {
    h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0 0 1em 0;
    }
  }
}