@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

@charset "utf-8";

body {
	font-size: 16px;
	background-color: $color-bg-body;
	color: $color-text;
	font-family: "Open Sans", helvetica, arial, sans-serif;
}

* {
	box-sizing: border-box;
}

li {
  line-height: 2em;
}

a {
  color: $color-link;
  &:hover {
    text-decoration: none;
    color: darken($color-link, 15%);
  }
}

%clean-ul {
  list-style: none;
  padding: 0;
}

.content {
  @extend .row;
}

/* Header */

.header {
	padding: 0.25em 0;
  background: $color-white-smoke;
  border-bottom: 1px solid $color-border-light;
  margin-bottom: 1em;
}

.header-text {
	margin: 0;
  font-size: 1em;
  display: inline-block;
}

.header-logo {
	text-indent: -9999px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../images/cycle-dash.png');
  background-size: 22px;
  margin-right: 1em;
}

/* Left-side navigation */

.navigation {
  @extend .col-md-2;
}

.navigation-items {
  @extend %clean-ul;

	li {
		display: block;
	}
}

.component {
  margin-top: 2em;
}

/* Styleguide content */

%card {
  background-color: $color-white-smoke;
  border-radius: $radius;
  box-shadow: 1px 1px 1px 0px $color-bg-body-dark;
  border: 1px solid $color-border-light;
}

.styles {
  @extend .col-md-10, %card;
}

section {
  margin-bottom: 1em;
  border-bottom: 1px solid $color-border-light;
  padding-bottom: 2em;
  h2 {
    font-weight: bold;
  }
}

/* Buttons */

.buttons {
  button {
    margin-right: 1em;
  }
}

.btn-primary {
  color: $color-white;
  background-color: $color-blue-sinai;
  border-color: darken($color-blue-sinai, 10%);
  &:hover, &:active, &:focus {
    background-color: darken($color-blue-sinai, 5%);
    border-color: darken($color-blue-sinai, 10%);
    color: $color-white;
  }
}

/* Colors */

.swatch {
  @extend %card;
  padding: 0;
}

.swatch-preview {
  height: 3.75em;
  border-bottom: 1px solid $color-border-light;
}

.swatch-details {
  @extend %clean-ul;
  padding: 0.5em 1em;
}

.color-black {
  background-color: $color-black;
}

.color-blue-sinai {
  background-color: $color-blue-sinai;
}

.color-gray-light {
  background-color: $color-gray-light;
}

.color-gray-medium {
  background-color: $color-gray-medium;
}

.color-beige-light {
  background-color: $color-beige-light;
}

.color-green {
  background-color: $color-green;
}

.color-red {
  background-color: $color-red;
}

.color-white {
  background-color: $color-white;
}

.color-white-smoke {
  background-color: $color-white-smoke;
}

/* Form Inputs */

.control-label {
  font-weight: normal;
}

/* Icons */

.icon-list {
  @extend %clean-ul;
}


